/* basic set */
@font-face {
  font-family: 'RedHatText';
  src: url('../assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
}

:root {
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'RedHatText', sans-serif;
  font-weight: 400;
  background-color: var(--rose-50);
}

body::-webkit-scrollbar {
  display: none;
}

main {
  padding: 1.2rem;
  max-width: 100%;
  min-width: 20rem;
}

h1 {
  margin-bottom: 2rem;
}

/* Product */
.product-list {
  display: grid;
  margin-bottom: 1.5rem;
}

.product-card {
  margin-bottom: 1.5rem;
}

.contain-img {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.product-img {
  width: 100%;
  border-radius: 8px;
}

.product-img-selected {
  border: 2px solid var(--color-red);
}

/* Add to Cart Button */

.add-to-cart-btn {
  position: absolute;
  bottom: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  border: 1.2px solid var(--rose-500);
  font-weight: 600;
  font-size: 0.875rem;
  background-color: var(--rose-50);
  cursor: pointer;
  transition: color 0.3s ease;
}

.add-to-cart-btn-selected {
  min-width: 8rem;
  position: absolute;
  bottom: -12px;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  border-radius: 20px;
  border: 1.2px solid hsl(14, 86%, 34%);
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--rose-100);
  background-color: var(--color-red);
  transition: color 0.3s ease;
}

.add-to-cart-btn-selected button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  padding: 2px;
  border-radius: 8px;
  border: 1px solid var(--rose-100);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.add-to-cart-btn-selected button:hover {
  background-color: var(--rose-100);
}

.add-to-cart-btn-selected button:hover img {
  filter: invert(75%) sepia(55%) saturate(3000%) hue-rotate(357deg) brightness(95%) contrast(100%);
}

.add-to-cart-btn img {
  margin-right: 0.4rem;
  height: 16px;
}

.add-to-cart-btn:hover {
  color: var(--color-red);
}

/* Product info */

.product-info {
  line-height: 1.4;
}

.product-category {
  color: var(--rose-300);
  font-size: 0.875rem;
}

.product-name {
  font-size: 1rem;
  font-weight: 600;
}

.product-price {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-red);
}

/* Order Summary */

.order-summary {
  background-color: white;
  padding: 1rem 1.2rem; 
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  /* background-color: blue; */
}

.empty-cart img {
  height: 7rem;
  margin-bottom: 1.5rem;
  /* background-color: aqua; */
}

.empty-cart p {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--rose-500);
  white-space: nowrap;
}

.order-summary .title {
  color: var(--color-red);
}

/* Responsive */

@media (min-width: 25.5rem) {
  body {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-list {
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
  }

  .product-card {
    width: fit-content;
  }
  
  .product-img {
    height: 12.5rem;
  }
}

@media (min-width: 40rem) {

  .product-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .product-card {
    margin-bottom: 0.5rem;
  }

  h1 {
    margin-bottom: 1.2rem;
  }
}

@media (min-width: 60rem) {
  
  main {
    display: flex;
  }

  .container {
    margin-right: 1.5rem;
  }

  .product-list {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0;
  }

  .contain-img {
    margin-bottom: 1.5rem;
  }

  .order-summary {
    max-height: fit-content;
    width: 340px;
  }

  .add-to-cart-btn {
    font-size: 0.675rem;
  }

}